# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# AppSettings
appsettings.*.json
!appsettings.json

# Visual Studio 2015/2017 cache/options directory
.vs/

# Visual Studio Code workspace
*.code-workspace

# BenchmarkDotNet artifacts
BenchmarkDotNet.Artifacts/

# .NET Core / .NET 5+ build results
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlh
*.tli
*.tmp
*.tmp_proj
*.log
*.vspscc
*_i.asm
*_p.asm

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Local test runs
*.trx
*.coverage
*.coveragexml

# Others
*.dbmdl
*.bak
*.backup
*.BLOB
*.mdf
*.ldf
*.ndf
publish/
*.publishsettings
*.[Cc]ache
*.uassets
*.uexp

# Logs
*.log